
.cardContainer {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  transition: box-shadow 0.3s ease-in-out;
  width: 150px ;
  background: rgb(219, 211, 182);
  display: flex;
  flex-wrap: wrap;
}

.cardImage img {
  max-width: 60%;
  height: auto;
  border-radius: 8px;
}

/* Agrega estilos para el enlace dentro de la tarjeta si es necesario */
.cardContainer a {
  text-decoration: none; 
  color: inherit;
}