.card-cont{
    width: 15rem;
    background-color:rgb(102, 135, 156);
    border: solid 2px rgb(0, 0, 0);
    margin: 15px;
}

.image img{
    width:5rem;
}
.cards-cont{
    display: flex;
    flex-wrap: wrap;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para cada elemento dentro del contenedor */
  .container-elem {
    margin-bottom: 10px;
  }
  
  /* Estilos para los títulos */
  .container-tit {
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Estilos para el contenido */
  .container > div > div:not(:first-child) {
    font-size: 16px;
    color: #333;
  }