.detailImg img{
    max-width: 40%;
  height: auto;
  border-radius: 8px;
  border-top: 10px;
}

.detailCointeiner {
    border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  transition: box-shadow 0.3s ease-in-out;
  width: 150px ;
  background: rgb(219, 211, 182);
  display: flex;
  flex-wrap: wrap;
  background-color: burlywood;
}

.button{
    background-color: rgb(165, 196, 184);
    border-radius: 1px solid black;

}
.pContainers{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-size: 20px
}