
.homeConteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    height: 70vw;
}

.botonCont {
    display: flex;
    flex-wrap: wrap; /* Hace que los elementos se envuelvan en varias líneas si no caben en una sola fila */
    gap: 10px; /* Ajusta el espacio entre los elementos */
}

.botonCont > div {
    margin: 10px; /* Ajusta el espacio alrededor de cada grupo de botones */
}

button {
    padding: 8px 16px;
    font-size: 14px;
    margin-right: 8px;
}

label {
    margin-right: 8px;
}

select {
    padding: 8px;
    font-size: 14px;
    margin-right: 8px;
}

.card-home {

}

.clearfix {
    clear: both;
}

.pagContainer{

   right: 50%;
   bottom: 190px;
   display: flex;
   align-items: flex-end;
   
    
}