
.container {
  background-image: url('https://static.vecteezy.com/system/resources/previews/013/782/710/non_2x/video-games-banner-cyber-game-background-vector.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  
  padding: 0;
  margin: 0px auto;
  border: 1px black;
 
}
.link-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
button {
  font-size: 1.5em;
}
.pContainer {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  color: blanchedalmond;
  font-size: 50px
}
